h1{
	color: #4BEFCC;
	font-family: Oswald;
	font-size: 3rem;
	text-align: center;
}
.blue-text{
	color: #068AB1;
	font-size: 3rem;
}
.header{
	padding-bottom: 30px;
	padding-top: 30px;
	border: 1px #00BFDE;
	background-image: url('../images/header1.jpeg');
	background-repeat: no-repeat;
	background-position: top center;
	height: 30rem;
}
.icon{
    display:block;
    max-width: 80px;
    margin: 0 auto;
    width: 90%;
    margin-top: 15px;
}
.content{
	margin:0 auto;
	min-width: 37.5rem;
	width: 100%;
}
.need{
	font-family: Oswald;
	font-size: 1rem;
	display: block;
	color: #132857;
	list-style: none;
	text-align: center;
}
.have{
	font-family: Oswald;
	font-size: 1rem;
	display: block;
	color: #132857;
	list-style: none;
	text-align: center;
	text-decoration: line-through;
}
#outer-area input {
	display: block;
	margin: 0 auto;
}
h2{
	font-family: Oswald;
	font-size: 2rem;
	display: block;
	color: #00BFDE;
	list-style: none;
	text-align: center;
}
#add-items{
	border: none;
	border-radius: 15px;
	color: white;
	background-color: #4BEFCC;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
ul{
	background-color: #068AB1;
	width:200px;
    border-radius: 15px;
    color: #fff;
    display: table;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
}
#list-area{
	border: none;
	border-radius: 15px;
	color: white;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}